body{
	color: #444444;
}

.container{
	/*background-color: #a9b4c6;*/
}

.jumbotron{
	background-color: #d5d9e0;
	color: #444444;
	font-family: 'Abril Fatface', "Times New Roman", serif;
	margin-bottom: 10px;
	padding-top: 2%;

}

img{
/*	border: solid 10px #888888;*/
	border-radius: 6px;
}

.row{
	background-color: #d5d9e0;
	border-radius: 6px;
}

@media screen and (max-width: 768px){
	img{
		width: 50%;

	}
}

h2{
	font-family: 'Sigmar One', Verdana, Geneva, sans-serif;
	/*background-color: #dddddd;*/
	color: #888888;
}

h3{
	font-family: 'Special Elite', Verdana, Geneva, sans-serif;
	/*color: #ffffff;*/
}

#currentWord{
	font-family: 'Special Elite', Verdana, Geneva, sans-serif;
	font-size: 32px;
}

.border-between > [class*='col-']:before {
   background: #ffffff;
   bottom: 0;
   content: " ";
   left: 0;
   position: absolute;
   width: 10px;
   top: 0;
}

.border-between > [class*='col-']:first-child:before {
   display: none;
}